@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@500&family=Quicksand:wght@500;700&display=swap');

$title-font:'Quicksand', sans-serif;
$body-font:'mulish',sans-serif;
$primary-color:#F2C94C;
$secondary-color:#FFFFFF;
$text-color:#000;